body{
margin: 20px auto;
max-width: 600px;
border: 1px solid darkred;
box-sizing: border-box;
}

Header{
    text-align: center;
}

label{
    display: block;
}

.color-input{
    width: 100%;    
}

.input-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
    gap: 5px;
}

.color-container{
    display: flex;
    border: 1px solid darkred;
    justify-content: space-around;
    text-align: center;
    gap: 5px;
}

.color{
    background-color: red;
    width: 100px;
    height: 100px;
    border: 1px solid darkred;
    padding: 1px;
    display: block;
}
.color-code{
    background-color: wheat;
    width: 100px;
    height: 100px;
    border: 1px solid darkred;
    padding-top: 1px;
    display: block;
}

.color-sample{
    height: 400px;
    max-width: 100px;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}